<div class="row" aling="center">
    <div class="col-lg-12">
        
        <link rel="shortcut icon" href="./assets/images/image1.png">
        <nb-card>
            <nb-card-header >
                <div align="center">
                <img src="./assets/images/image1.png" height="200" width="200" >
                 </div>
            </nb-card-header>

            <nb-card-body>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Usuario:</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" [(ngModel)]="correo"
                        class="form-control"
                        fullWidth placeholder="Ingrese usuario" >
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Contraseña:</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="password" [(ngModel)]="contrasena"
                        class="form-control"
                        fullWidth placeholder="Ingrese contraseña" >
                    </div>
                </div>
                <br>
                <button type="submit"
                    class="btn btn-primary btn-block"
                    (click)="login()">Login</button>
            </nb-card-body>
        </nb-card>
        
    </div>
</div>