<div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        ADMINISTRACIÓN CANDIDATOS
        <button type="button" class="btn btn-success" (click)="agregar()">
          <i class="fas fa-plus"></i>
        </button>
      </nb-card-header>
      <table class="table">
        <tr>
          <th *ngFor="let columaActual of nombresColumnas">{{columaActual}}</th>
        </tr>
        <ng-container *ngFor="let candidatoActual of candidatos">
          <tr>
            <td>{{candidatoActual.cedula}}</td>
            <td>{{candidatoActual.numero_resolucion}} </td>
            <td>{{candidatoActual.nombre}} </td>
            <td>{{candidatoActual.apellido}} </td>
            <td *ngIf="candidatoActual.partido">{{candidatoActual.partido["nombre"]}} </td>
            <td *ngIf="!candidatoActual.partido"></td>
            
            <td>

              <button title="Editar" type="button" class="btn btn-primary" (click)="editar(candidatoActual._id)">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button title="Eliminar" type="button" class="btn btn-danger" (click)="eliminar(candidatoActual._id)">
                <i class="fas fa-solid fa-trash"></i>
              </button>
              <button title="Asignar Partido" type="button" class="btn btn-warning" (click)="asignarPartido(candidatoActual._id)">
                <i class="fas fa-solid fa-list"></i>
              </button>
            </td>
          </tr>
        </ng-container>
      </table>
    </nb-card>
  </div>  